.emphasized{font-weight: bold;}
ul{font-weight: lighter;}
Body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Header{
    background-color: white; 
    color: whitesmoke;
    height: 100px;
    line-height: 100px;
    padding-left: 100px;
    left: 0px;
    right: 0px;

}
.lists{
    background-color: white;
    color:black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    right: 0px;
}
.footer{
    height: 25px;
    background-color: white;
    color: black;
    position: fixed;
    bottom: 0px;
    right: 8px;
    left: 8px;
    padding-top: 5px;
    padding-left: 600px;
}
.graph{
background-color: white;
Padding-top: 10px;
padding-left: 25px;
}
